.center-cen{width: 700px;height: 1090px;margin-top: 10px;}
.center-cen ul{margin: 0;padding: 0;width: 742px;
margin-top: 19px;margin-bottom: 8px;margin-left: -42px;}
.center-cen img{width: 138px;height: 103px;padding: 1px;border: #c7c7c5 solid 1px;}
.center-cen ul li{float: left;width:142px ;height: 143px;margin-left: 42px;margin-bottom: 8px; }
.center-cen .news1{height: 107px;margin-left: 5px;}
.center-cen .miaoshu{width:142px ;height: 36px;color: #3e3c30 ;padding-left: 22px;line-height: 20px;}

